<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask_input</title>
    <link rel="stylesheet" href="{{url_for('static',filename='input.css')}}">
</head>
<body>
    <form action=" http://127.0.0.1:5000/input" method="POST">
        <input type="text" name="input_text">
        <input type="submit">
    </form>

        <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>